* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}

*:hover {
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}

body {
	width: 100vw;
	text-align:center; 
	background:#e9e9e9;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

h1 {
	text-transform:uppercase; 
	font-family:Verdana; 
	color:#000;
	padding: .5rem;
	margin: .5rem;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 10px 0 #656565;
	-moz-box-shadow: 0px 0px 10px 0 #656565;
	-o-box-shadow: 0px 0px 10px 0 #656565;
	box-shadow: 0px 0px 10px 0 #656565;
}

label {
	margin: 0;
}

#canvas {
	position: absolute;
	display:block; 
	background:#fff;
	opacity: 1;
	cursor:crosshair;
}

#panel {
	z-index: 1;
	font-size: .875rem;
	width: 100%;
}

#panel-color, #control {
	background:#e9e9e9;
	-webkit-box-shadow: 0px 0px 10px 0 #656565;
	-moz-box-shadow: 0px 0px 10px 0 #656565;
	-o-box-shadow: 0px 0px 10px 0 #656565;
	box-shadow: 0px 0px 10px 0 #656565;
}

#panel-color {
	padding: .5rem;
}

#couleurs {
	list-style:none; 
	margin-top: .5rem;
	margin-bottom: 0; 
	padding:0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#couleurs a {
	display:inline-block; 
	width:1.5rem;
	height:1.5rem; 
	margin: 0 .5rem .5rem;
	text-indent:-4000px; 
	overflow:hidden; 
	border-radius:50%;
}

#panel-color a:hover,
.actif {
	-webkit-box-shadow: 0px 0px 10px 0 #656565;
	-moz-box-shadow: 0px 0px 10px 0 #656565;
	-o-box-shadow: 0px 0px 10px 0 #656565;
	box-shadow: 0px 0px 10px 0 #656565;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
	-webkit-transform: scale(1.15);
	/* Safari and Chrome */
	-moz-transform: scale(1.15);
	/* Firefox */
	-ms-transform: scale(1.15);
	/* IE 9 */
	-o-transform: scale(1.15);
	/* Opera */
	transform: scale(1.15);
	border: none;
}

#panel-choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#couleurs_pinceau {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#color_picker{
	border: none;
	background-color: #e9e9e9;
	padding: 0;
	vertical-align: middle;
}

#color_picker::-webkit-color-swatch-wrapper {
	padding: 0;
}
#color_picker::-webkit-color-swatch {
	border: none;
}

#color_picker:focus
{
	outline: none;
}

#color_picker:hover {
	-webkit-box-shadow: 0px 0px 10px 0 #656565;
	-moz-box-shadow: 0px 0px 10px 0 #656565;
	-o-box-shadow: 0px 0px 10px 0 #656565;
	box-shadow: 0px 0px 10px 0 #656565;
}

/* #selector_background div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
} */

#largeurs_pinceau {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#fond_largeur {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#largeur {
	display: inline-block;
	border-radius:50%;
	margin: auto;
}


.container-buttons {
	display: flex;
	flex-direction: column;
}

#undo_redo, #container-save {
	margin: .5rem;
}

#toggle-panel {
	margin: 0 .5rem;
}

#back {
	margin-right: .5rem;
}

#container-save {
	display: flex;
	flex-wrap: wrap;
}

#back,
#next,
#container-save a,
#container-save input {
	flex-grow: 1;
}

#container-save a {
	margin-left: .5rem;
}

#container-save a input {
	width: 100%;
}

#undo_redo {
	display: flex;
	flex-wrap: wrap;
}

.hide {
	display: none;
}

@media screen and (min-width: 491px) {
	#panel {
		width: auto;
	}
	.container-buttons {
		flex-direction: row;
		justify-content: space-between;
	}

	#toggle-panel {
		margin: .5rem;
	}
} 